LIST in Python3

In [8]:
marks1=94.2
marks2=89.0
marks3=97
marks4='hello'
print(marks1, marks2, marks3)

print(type(marks1))
print(type(marks3))
print(type(marks4))

94.2 89.0 97
<class 'float'>
<class 'int'>
<class 'str'>

In [1]:
marks=[23,45,67,75]  # -4 -3 -2 -1
                     #  0  1  2  3
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])

print('break1')
print(marks[-3])
print(marks[-1])
print('break2')

print(marks[1:3])
print(marks[2:])
print(marks[1:])

print('break3')
print(marks[:2])
print(marks[:4])
print(marks[-3:-1])
print(marks[-4:1])

[23, 45, 67, 75]
<class 'list'>
23
45
break1
45
75
break2
[45, 67]
[67, 75]
[45, 67, 75]
break3
[23, 45]
[23, 45, 67, 75]
[45, 67]
[23]

Tuple in Python

In [9]:
tup=(2,1,3,1)


print(tup[0])
print(tup[-1:-4])
print(tup.count(2))

2
()
1

In [4]:
tup[0]=5

TypeError: 'tuple' object does not support item assignment

In [6]:
tup=()

In [11]:
tup=(1,)

In [12]:
print(tup.count(2))

0

In [13]:
tup=("hero","i","in")

In [16]:
print(tup.count("i"))
print(tup.index("i"))
print(tup.index(""))

1
1

ValueError: tuple.index(x): x not in tuple

In [17]:
movies=[]

In [18]:
movies.append(input("Enter 1st movie:"))

In [19]:
movies.append(input("Enter 2nd movie:"))

In [20]:
print(movies)

['superman', 'dinosour']

In [21]:
mov=input("Enter the 3rd movie:")

In [22]:
movies.append(mov)

In [23]:
print(movies)

['superman', 'dinosour', 'spiderman']

In [1]:
list1=[1,2,3]
list2=[4,5,6]


copy_list1=list1.copy()
copy_list1.reverse()

if(copy_list1==list1):
    print('Palindrome')
else:
    print('Not Palindrome')
    
    
    tup=("A","B","G","U")
    print(tup.count("A"))
    
    tup.sort()

Not Palindrome
1

AttributeError: 'tuple' object has no attribute 'sort'

In [47]:
grade=['a','b','z','e','q']
grade.sort()
print(grade)

['a', 'b', 'e', 'q', 'z']

In [25]:
list1=["m","n","a","w"]
print(list1)

['m', 'n', 'a', 'w']

In [26]:
print(list2)

[4, 5, 6]

In [27]:
print(list)

<class 'list'>