In [ ]:
Sets & Dictionary

In [1]:
Dictionary={"j":1,"k":2,"j":3}

In [2]:
Dictionary

{'j': 3, 'k': 2}

In [3]:
d={[1,2]:"a"}

TypeError: unhashable type: 'list'

In [6]:
d1={"2":2,"1":1}
d1

{'2': 2, '1': 1}

In [9]:
d={"1":1,"2":2}
d

{'1': 1, '2': 2}

In [10]:
d==d1

True

In [11]:
d["1"]

1

In [12]:
del[d["1"]]

In [13]:
d

{'2': 2}

In [15]:
d={"1":{1:2}}
d

{'1': {1: 2}}

In [18]:
d={}
d["1"]=1
d

{'1': 1}

sets

In [20]:
s=set()
s

set()

In [ ]:
s=set("hello")
# s                 //set of unique elements

{'e', 'h', 'l', 'o'}

In [33]:
s=set([1,2,2,2,3,4,5,6,7,7])
s

{1, 2, 3, 4, 5, 6, 7}

In [30]:
type(s)

set

In [26]:
s2={1,2,4,5}
s2

{1, 2, 4, 5}

In [27]:
type(s2)

set

In [34]:
s==s2

False

In [36]:
s2.add(3)
s2

{1, 2, 3, 4, 5}

In [37]:
s={[1,2,3],3}

TypeError: unhashable type: 'list'

In [39]:
 s={{1,2},3,4}   #can't be nested

TypeError: unhashable type: 'set'

In [41]:
w={4,"set",1,2}
w

{1, 2, 4, 'set'}

In [42]:
1 in s

True

In [44]:
for i in w:
    print(i)

1
2
4
set