<a href="https://colab.research.google.com/github/Sandip-Maity-2023/Logic-building-with-Python/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter option:"))
b=int(input("enter option:"))
x=(input("enter option:"))
match x:
  case '+':
    c=a+b
    print(c)
  case "-":
    c=a-b
    print(c)
  case "*":
    c=a*b
    print(c)
  case "/":
    c=a/b
    print(c)
  case _:
    print("enter proper no:")

enter option:8
enter option:6
enter option:+
14

In [ ]:
import pandas as pd
import numpy as np
#sample data
data={'Age':[25,np.nan,54,33,48,np.nan]}
df=pd.DataFrame(data)

#Replace missing values with mean
df['Age_Mean']=df['Age'].fillna(df['Age'].mean())

#Replace missing values with median
df['Age_Median']=df['Age'].fillna(df['Age'].median())

#Replace missing values with mode
df['Age_Mode']=df['Age'].fillna(df['Age'].mode()[0])

print(df)

    Age  Age_Mean  Age_Median  Age_Mode
0  25.0      25.0        25.0      25.0
1   NaN      40.0        40.5      25.0
2  54.0      54.0        54.0      54.0
3  33.0      33.0        33.0      33.0
4  48.0      48.0        48.0      48.0
5   NaN      40.0        40.5      25.0

In [ ]:
#Forward fill
df['Age_Fill_Forward']=df['Age'].ffill()

#Backward fill
df['Age_Fill_Backward']=df['Age'].bfill()

print(df)

   customerID   Age      City  Monthly Spending(&)  Age_Fill_Forward  \
0         101  25.0  New york                200.0              25.0
1         102   NaN       NaN                  NaN              25.0
2         103  30.0   Chicago                150.0              30.0
3         104   NaN       NaN                120.0              30.0
4         105  40.0    London                312.0              40.0

   Age_Fill_Backward
0               25.0
1               30.0
2               30.0
3               40.0
4               40.0

In [ ]:
#KNN imputation
import pandas as pd
import numpy as np
#sample dataset
data={
    'customerID':[101,102,103,104,105],
    'Age': [25,np.nan,30,np.nan,40],
    'City':['New york',np.nan,'Chicago',np.nan,'London'],
    'Monthly Spending(&)':[200,np.nan,150,120,312]
}
df=pd.DataFrame(data)
#custom function for age
def impute_age(row):
  if pd.isna(row['Age']):
    #use the average age of customers from the same city
    avg_age=df[df['City']==row['City']]['Age'].mean()
    return avg_age if not np.isnan(avg_age) else 30
  return row['Age']

def impute_city(row):
  if pd.isna(row['City']):
    spending_group=df['Monthly Spending($)']
    common_city=df[spending_group.between(row['Monthly Spending($)']-50,row['MOnthly Spending($)']+50)]['city'].mode()
    return common_city[0] if not common_city.empty else 'Unknown'
  return row['City']
  print(df)

In [ ]:
# prompt: 4

import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

# Assuming the provided code is in a file named 'your_script.py'
# Execute the code
# %run your_script.py

# Sample data for KNN imputation (replace with your actual data)
data = {
    'customerID': [101, 102, 103, 104, 105],
    'Age': [25, np.nan, 30, np.nan, 40],
    'MonthlySpending': [200, np.nan, 150, 120, 312]
}
df = pd.DataFrame(data)

# Apply KNN imputation
imputer = KNNImputer(n_neighbors=2) # You can adjust the number of neighbors
df_knn = pd.DataFrame(imputer.fit_transform(df[['Age', 'MonthlySpending']]), columns=['Age_KNN', 'MonthlySpending_KNN'])
df = pd.concat([df, df_knn], axis=1)

print(df)

   customerID   Age  MonthlySpending    Age_KNN  MonthlySpending_KNN
0         101  25.0            200.0  25.000000                200.0
1         102   NaN              NaN  31.666667                195.5
2         103  30.0            150.0  30.000000                150.0
3         104   NaN            120.0  27.500000                120.0
4         105  40.0            312.0  40.000000                312.0

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

#Sample data with missing values
data={
    'Feature1':[1,2,np.nan,4],
    'Feature2':[5,np.nan,7,8],
    'Feature3':[np.nan,11,12,13]

}
df=pd.DataFrame(data)

print("Original Data:")
print(df)

#Initialize the
#Apply KNN imputation
imputer=KNNImputer(n_neighbors=2,weights="uniform")

#perform operation
imputed_data=imputer.fit_transform(df)

#convert the result back to a DataFrame
imputed_df=pd.DataFrame(imputed_data,columns=df.columns)

print("\nImputed Data:")
print("\nData after KNN Imputation")
print(imputed_df)

#create a new dataframe with imputed values
#df_knn=pd.DataFrame(imputer.fit_transform(df),columns=df.columns)
#df_knn

Original Data:
   Feature1  Feature2  Feature3
0       1.0       5.0       NaN
1       2.0       NaN      11.0
2       NaN       7.0      12.0
3       4.0       8.0      13.0

Imputed Data:

Data after KNN Imputation
   Feature1  Feature2  Feature3
0       1.0       5.0      11.5
1       2.0       6.0      11.0
2       3.0       7.0      12.0
3       4.0       8.0      13.0

In [ ]:
import pandas as pd
df=pd.DataFrame({"Day":[1,2,3,4,5],"sales":[100,None,150,None,200]})
print("\n")
print("***LOCF***")
print(df)

***LOCF***
   Day  sales
0    1  100.0
1    2    NaN
2    3  150.0
3    4    NaN
4    5  200.0

In [ ]:
import pandas as pd
import numpy as np
#sample data
data={'Age':[25,np.nan,54,33,48,np.nan]}
df=pd.DataFrame(data)

a=int(input("enter option:1 mean,2 median,3 mode:"))
b=int(input("enter option:"))
x=(input("enter option:"))
 match x:
  case 1:

df['Age_Mean']=df['Age'].fillna(df['Age'].mean())
print(df)

  case 2:
df['Age_Median']=df['Age'].fillna(df['Age'].median())
print(df)

  case 3:
df['Age_Mode']=df['Age'].fillna(df['Age'].mode()[0])
print(df)

  case _:
    print("enter proper no:")

IndentationError: expected an indented block after 'case' statement on line 11 (<ipython-input-7-c58eed740e37>, line 13)