In [36]:
import pandas as pd
data={
    'Name':['Sandip','Suman','Sounak','Jyotirmoy','Pratik'],
    'Age':[23,21,22,24,25],
    'city':['Kolkata','Mumbai','New Delhi','Bengaluru','New York'],
    'Salary':[50000,60000,55000,65000,70000]
}
df=pd.DataFrame(data)
print(df)

print("First 3 rows")
print(df.head(3))

print("Last 2 rows")
print(df.tail(2))

print("Shape of the Dataframe(rows,columns):")
print(df.shape)

print('Age Column:')
print(df['Age'])

print('Employees from Kolkata:')
print(df[df['city']=='Kolkata'])

        Name  Age       city  Salary
0     Sandip   23    Kolkata   50000
1      Suman   21     Mumbai   60000
2     Sounak   22  New Delhi   55000
3  Jyotirmoy   24  Bengaluru   65000
4     Pratik   25   New York   70000
First 3 rows
     Name  Age       city  Salary
0  Sandip   23    Kolkata   50000
1   Suman   21     Mumbai   60000
2  Sounak   22  New Delhi   55000
Last 2 rows
        Name  Age       city  Salary
3  Jyotirmoy   24  Bengaluru   65000
4     Pratik   25   New York   70000
Shape of the Dataframe(rows,columns):
(5, 4)
Age Column:
0    23
1    21
2    22
3    24
4    25
Name: Age, dtype: int64
Employees from Kolkata:
     Name  Age     city  Salary
0  Sandip   23  Kolkata   50000

In [ ]:
import pandas as pd
import numpy as np

data={
    'Name':['Sandip','Suman','Sounak','Jyotirmoy','Prathama'],
    'Age':[23,21,22,25,np.nan],
    'city':['kolkata',np.nan,'New Delhi','Bengaluru','Chennai'],
    'Salary':[50000,0,-44000,np.nan,70000],
    'Date':['2023-01-12','2025/11/12','11-02-2023','2020-12-30',np.nan]
}
df=pd.DataFrame(data)       
print("Original DataFrame:")
print(df)

drop_df=df.dropna()
print("\nAfter dropping rows with missing values:")
print(drop_df)

fill_df=df.copy()
fill_df['Age'].fillna(fill_df['Age'].mean(),inplace=True)
fill_df['city'].fillna('Unknown',inplace=True)
fill_df['Salary'].fillna(fill_df['Salary'].median(),inplace=True)
print("\nAfter filling missing values:")
print(fill_df)

fill_df['Salary']=fill_df['Salary'].apply(lambda x:0 if x<0 else x)
print("\nAfter handling negative salaries:")
print(fill_df)



fill_df['Date'] = fill_df['Date'].str.replace('/', '-', regex=False)
fill_df['Date']=pd.to_datetime(fill_df['Date'],errors='ignore')
print('\nAfter converting Date column to datetime:')
print(fill_df)

Original DataFrame:
        Name   Age       city   Salary        Date
0     Sandip  23.0    kolkata  50000.0  2023-01-12
1      Suman  21.0        NaN      0.0  2025/11/12
2     Sounak  22.0  New Delhi -44000.0  11-02-2023
3  Jyotirmoy  25.0  Bengaluru      NaN  2020-12-30
4   Prathama   NaN    Chennai  70000.0         NaN

After dropping rows with missing values:
     Name   Age       city   Salary        Date
0  Sandip  23.0    kolkata  50000.0  2023-01-12
2  Sounak  22.0  New Delhi -44000.0  11-02-2023

After filling missing values:
        Name    Age       city   Salary        Date
0     Sandip  23.00    kolkata  50000.0  2023-01-12
1      Suman  21.00    Unknown      0.0  2025/11/12
2     Sounak  22.00  New Delhi -44000.0  11-02-2023
3  Jyotirmoy  25.00  Bengaluru  25000.0  2020-12-30
4   Prathama  22.75    Chennai  70000.0         NaN

After handling negative salaries:
        Name    Age       city   Salary        Date
0     Sandip  23.00    kolkata  50000.0  2023-01-12
1      Suman  21.00    Unknown      0.0  2025/11/12
2     Sounak  22.00  New Delhi      0.0  11-02-2023
3  Jyotirmoy  25.00  Bengaluru  25000.0  2020-12-30
4   Prathama  22.75    Chennai  70000.0         NaN

After converting Date column to datetime:
        Name    Age       city   Salary        Date
0     Sandip  23.00    kolkata  50000.0  2023-01-12
1      Suman  21.00    Unknown      0.0  2025-11-12
2     Sounak  22.00  New Delhi      0.0  11-02-2023
3  Jyotirmoy  25.00  Bengaluru  25000.0  2020-12-30
4   Prathama  22.75    Chennai  70000.0         NaN

C:\Users\12san\AppData\Local\Temp\ipykernel_12660\3478784694.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fill_df['Age'].fillna(fill_df['Age'].mean(),inplace=True)
C:\Users\12san\AppData\Local\Temp\ipykernel_12660\3478784694.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fill_df['city'].fillna('Unknown',inplace=True)
C:\Users\12san\AppData\Local\Temp\ipykernel_12660\3478784694.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fill_df['Salary'].fillna(fill_df['Salary'].median(),inplace=True)
C:\Users\12san\AppData\Local\Temp\ipykernel_12660\3478784694.py:33: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  fill_df['Date']=pd.to_datetime(fill_df['Date'],errors='ignore')

In [38]:
import pandas as pd

data={
    'StudentID':[101,102,103,104,105],
    'Name':['Sandip','Pratasha','Sounak','Moupia','Prathama'],
    'Age':[23,21,22,25,24]
}

value={
    'StudentID':[106,109,101,102,104],
    'Subject':['Maths','Science','History','Geography','Maths'],
    'Marks':[85,90,78,88,92]
}

print("DataFrame 1:")
df1=pd.DataFrame(data)
print(data)
print("\nDataFrame 2:")
df2=pd.DataFrame(value)
print(value)

merge=pd.merge(df1,df2,on='StudentID')
print("\nAfter Merging on StudentID:")
print(merge)

left_join=pd.merge(df1,df2,on='StudentID',how='left')
print("\nAfter Left Join:")
print(left_join)

right_join=pd.merge(df1,df2,on='StudentID',how='right')
print("\nAfter Right Join:")
print(right_join)

outer_join=pd.merge(df1,df2,on='StudentID',how='outer')
print("\nAfter Outer Join:")
print(outer_join)

inner_join = pd.merge(df1, df2, on='StudentID', how='inner')
print("\nAfter Inner Join:")
print(inner_join)

DataFrame 1:
{'StudentID': [101, 102, 103, 104, 105], 'Name': ['Sandip', 'Pratasha', 'Sounak', 'Moupia', 'Prathama'], 'Age': [23, 21, 22, 25, 24]}

DataFrame 2:
{'StudentID': [106, 109, 101, 102, 104], 'Subject': ['Maths', 'Science', 'History', 'Geography', 'Maths'], 'Marks': [85, 90, 78, 88, 92]}

After Merging on StudentID:
   StudentID      Name  Age    Subject  Marks
0        101    Sandip   23    History     78
1        102  Pratasha   21  Geography     88
2        104    Moupia   25      Maths     92

After Left Join:
   StudentID      Name  Age    Subject  Marks
0        101    Sandip   23    History   78.0
1        102  Pratasha   21  Geography   88.0
2        103    Sounak   22        NaN    NaN
3        104    Moupia   25      Maths   92.0
4        105  Prathama   24        NaN    NaN

After Right Join:
   StudentID      Name   Age    Subject  Marks
0        106       NaN   NaN      Maths     85
1        109       NaN   NaN    Science     90
2        101    Sandip  23.0    History     78
3        102  Pratasha  21.0  Geography     88
4        104    Moupia  25.0      Maths     92

After Outer Join:
   StudentID      Name   Age    Subject  Marks
0        101    Sandip  23.0    History   78.0
1        102  Pratasha  21.0  Geography   88.0
2        103    Sounak  22.0        NaN    NaN
3        104    Moupia  25.0      Maths   92.0
4        105  Prathama  24.0        NaN    NaN
5        106       NaN   NaN      Maths   85.0
6        109       NaN   NaN    Science   90.0

After Inner Join:
   StudentID      Name  Age    Subject  Marks
0        101    Sandip   23    History     78
1        102  Pratasha   21  Geography     88
2        104    Moupia   25      Maths     92

In [23]:
import pandas as pd
import numpy as np
sales=pd.DataFrame({
    'Region':['North','South','East','West','North'],
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'Alice', 'David'],
    'SalesAmount': [5000, 7000, 6000, 8000, 6500],
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar']
})

print('\nSales')
print(sales)


table=pd.pivot_table(sales,values='SalesAmount',index='Region',columns='Salesperson',aggfunc='sum',fill_value=0)
print("\nPivot Table (Total Sales Amount by Region and Salesperson):")
print(table)


cross_tab=pd.crosstab(sales['Salesperson'],sales['Month'],margins=True)
print("\nCross Tabulation (Count of Sales by Salesperson and Month):")
print(cross_tab)

Sales
  Region Salesperson  SalesAmount Month
0  North       Alice         5000   Jan
1  South         Bob         7000   Jan
2   East     Charlie         6000   Feb
3   West       Alice         8000   Feb
4  North       David         6500   Mar

Pivot Table (Total Sales Amount by Region and Salesperson):
Salesperson  Alice   Bob  Charlie  David
Region
East             0     0     6000      0
North         5000     0        0   6500
South            0  7000        0      0
West          8000     0        0      0

Cross Tabulation (Count of Sales by Salesperson and Month):
Month        Feb  Jan  Mar  All
Salesperson
Alice          1    1    0    2
Bob            0    1    0    1
Charlie        1    0    0    1
David          0    0    1    1
All            2    2    1    5

In [24]:
list_of_tuples=[('a',1),('b',2),('c',3)]

dictionary=dict(list_of_tuples)

print("Dictionary:", dictionary)

Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [25]:
# Sample tuple
t = (100, 200, 300)

# String formatting
print("This is a tuple {}".format(t))

This is a tuple (100, 200, 300)

In [26]:
list_of_tuples=[(10,20,40),(40,50,60),(70,80,90)]

update_list=[t[:-1]+(100,) for t in list_of_tuples]

print("Updated List of Tuples:", update_list)

Updated List of Tuples: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [39]:
tuple_of_tuples = ((10, 20,30,25), (32, 45,48,78), (51,62,47,32))
average=[sum(col)/len(col) for col in zip(*tuple_of_tuples)]

print("Average of each column:", average)

Average of each column: [31.0, 42.333333333333336, 41.666666666666664, 45.0]

In [28]:
my_dict={'a':5,'b':3,'c':9,'d':1}

asc=dict(sorted(my_dict.items(),key=lambda item:item[1]))
print("Ascending order by value:", asc)

desc=dict(sorted(my_dict.items(),key=lambda item:item[1],reverse=True))
print("Descending order by value:", desc)

Ascending order by value: {'d': 1, 'b': 3, 'a': 5, 'c': 9}
Descending order by value: {'c': 9, 'a': 5, 'b': 3, 'd': 1}

In [29]:
# Sample dictionary
my_dict = {'a': 10, 'b': 20, 'c': 30}

# Sum of values
total = sum(my_dict.values())
print("Sum of values:", total)

Sum of values: 60

In [30]:
# Sample dictionary
my_dict = {'a': 2, 'b': 3, 'c': 4}

# Multiply values
result = 1
for value in my_dict.values():
    result *= value

print("Product of values:", result)

Product of values: 24

In [31]:
# Sample dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Remove key 'b' safely
if 'b' in my_dict:
    del my_dict['b']

print("Dictionary after removal:", my_dict)

Dictionary after removal: {'a': 1, 'c': 3}

In [32]:
# Sample dictionary
my_dict = {'b': 2, 'a': 5, 'd': 1, 'c': 9}

# Sort by key
sorted_dict = dict(sorted(my_dict.items()))
print("Sorted by key:", sorted_dict)

Sorted by key: {'a': 5, 'b': 2, 'c': 9, 'd': 1}

In [33]:
# Sample dictionary
my_dict = {'a': 10, 'b': 50, 'c': 5, 'd': 25}

# Find max and min values
max_val = max(my_dict.values())
min_val = min(my_dict.values())

print("Maximum value:", max_val)
print("Minimum value:", min_val)

Maximum value: 50
Minimum value: 5

In [34]:
# Sample dictionary
my_dict = {'a': 10, 'b': 20, 'c': 10, 'd': 30, 'e': 20}

# Remove duplicates by values
unique_dict = {}
for key, value in my_dict.items():
    if value not in unique_dict.values():
        unique_dict[key] = value

print("Dictionary after removing duplicates:", unique_dict)

Dictionary after removing duplicates: {'a': 10, 'b': 20, 'd': 30}

In [35]:
from collections import Counter

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

# Combine using Counter
combined = Counter(d1) + Counter(d2)

print("Combined dictionary:", combined)

Combined dictionary: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})